*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    width: 10%;
    height: 50px;
    background-color: rgb(19, 81, 162);
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
}